* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

/* changes the whole document before other selectors */
body {
    background-color: #d9dcd6;
    line-height: 2
    ;
}
/* changes to the headers */
header  {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    font-size: 80px;
    text-align: center;
    border: 9px solid rgb(244, 244, 247)
}

/* modifying the h2 header */
h2 {
    padding: 10px;
    margin-top: 30px;
    font-size: 110%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    text-align: center;
    border: 5px solid rgb(244, 244, 247)
}

/* modifying the h3 header*/
h3 {
    padding: 10px;
    font-size: 110%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    text-align: center;
    border: 5px solid rgb(244, 244, 247)

}

/* changes to all sections */
section {
    box-sizing: border-box;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    border: 9px solid rgb(244, 244, 247)
}

/* code for the top search bar */
.top-search-bar{
    padding-top: 20px;  
    float: left;
    font-size: 20px;
    background-color: #2a607c;
    display: inline;
    width: 100%;
}

/* code to make the search bar horizontal */
ul.horizontal_menu li {
    display: inline;
    list-style-type: none;
    margin: 5px;
    padding: 2px;
    color: #d9dcd6
}

/* image of the main meeting */
.meeting-image {
    height: 80%;
    width: 100%;
    margin-bottom: 2px;  
}


/* main config for all of the central containers */
.Main-information-box {
    margin: 5px 5px 5px 5px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    width: 75%;
    display: inline-block;
    font-size:larger
    }

/* main config for the right container */
.side-column-information-box {
    margin: 5px 5px 5px 5px;
    padding: 5px;
    clear: both;
    float: right;
    width: 23%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;   
    font-size: large;
}

/* moving the main pictures for the central contaoiners */
.main-image {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

/* moving the main pictures for the right container */
.side-column-information-box img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* styling for the footer at the bottom */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 100%;
    color: black;
    background-color: #2a607c;
}